*{
    box-sizing: border-box;
}
html,
body{
    margin: 0;
    padding: 0;
    background-color: #e6e6e6 !important;
    font-family: 'Lora', serif;
    font-size: 16px;
}

.underline-effect{
    background-image: linear-gradient(to right, blue, blue);
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: 0 3px;
    transition: background-size .5s ease;
}
.underline-effect:hover{
    background-size: 50% 3px;
}

.header{
    /* border: 1px solid blueviolet; */
    background-color: white;
    display: flex;
}
.header-logo{
    /* border: 1px solid blue; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
#header-logo-image{
    width: 75%;
    max-width: 200px;
    float: right;
}
.header-title-wrapper{
    padding-left: 0;
}
.header-title{
    color: darkblue;
    padding: 0;
    margin: 0;
    font-size: 2rem;
}

.navbar{
    background-color: darkblue;
    box-shadow: 0 4px 10px black;
}
.nav-item{
    /* border: 1px solid black; */
    padding: 0 10px;
    text-align: center;
    color: white;
    border-radius: 10px;
}
.nav-item a:hover{
    background-color: blue;
    border-radius: 10px;
    color: white !important;
}
.nav-item a{
    color: whitesmoke;
}
.navbar-dark .nav-item a:hover{
    background-color: blue;
    color: white;
}
.nav-link{
    line-height: normal;
}
.navbar-toggler-icon .fa-navicon{
    color: whitesmoke;
    font-size: 28px;
}

.main-body{
    background-color: white;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px;
    /* border: 1px solid black; */
}
.carousel{
    width: 90%;
    margin: 0 5% 2%;
}
.carousel-inner{
    box-shadow: 0 0 5px #81bce3;
    border: 1px solid rgba(0,0,0,0.4);
}
.carousel-item{
    height: 350px;
}
.about-heading{
    color: rgb(1, 1, 105);
    text-align: center;
}
.about-heading:hover{
    background-size: 15% 3px;
}
.body-boxes{
    background-color: blue;
    padding: 10px;
    color: white;
    border-right: 1px solid white;
    border-top: 1px solid darkblue;
    transition: transform 0.2s;
}
.body-boxes:hover{
    z-index: 10;
    transform: scale(1.02);
    border: 1px solid black;
}
.box-info{
    background-color: #f5f5f5;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #999;
    display: none;
}
#preambleinfo{
    display: block;
}
.section-heading{
    text-align: center;
}

.contact-wrapper{
    width: 100%;
}
.contact-heading{
    color: rgb(1, 1, 105);
    font-weight: bold;
    text-align: center;
}
.contact-heading:hover{
    background-size: 20% 3px;
}
.card-wrapper{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    /* border: 1px solid black; */
}
.ccard{
    width: 30%;
    box-shadow: 2px 2px 10px black;
    transition: transform 0.3s;
}
.ccard:hover{
    transform: scale(1.05);
}
.ccard .card-img-top{
    width: 80%;
    max-height: 250px;
    margin-left: 10%;
    margin-top: 2%;
    border-radius: 5%;
}
.ccard .card-body{
    text-align: center;
}

.footer-wrapper{
    background-color: #06062f;
    color: whitesmoke;
    box-shadow: 0 -5px 10px #06062f;
}
.footer-col{
    text-align: center;
}
.copyright{
    width: 100%;
    padding: 7px 0;
    margin: 0;
    text-align: center;
    background-color: black;
    color: white;
}


.page-wrapper{
    width: 100%;
}
.page-heading{
    color: rgb(1, 1, 105);
    text-align: center;
    margin-bottom: 10px;
}
.page-content:first-child{
    border-top: 1px dotted black;
}
.counselling-contact{
    font-size: 1.2rem;
}
.counselling-contact-list{
    list-style: none;
    padding: 0;
}
#your-dost-header:hover{
    background-size: 25% 3px;
}

.notice-wrapper{
    display: flex;
    flex-wrap: wrap;
}
.notice-wrapper .card .card-header{
    background-color: rgb(0, 0, 139);
    color: white;
    font-size: 1.2rem;
}
.notice-wrapper .news{
    width: 40%;
    margin: 0 5%;
}
.notice-wrapper .notice{
    width: 40%;
    margin: 0 5%;
}
.info-wrapper .download-btn-wrapper{
    text-align: center;
}
.info-wrapper .download-btn{
    padding: 5px 20px;
    border-radius: 10px;
    background-color: #0808e3;
}
.info-wrapper .download-btn a{
    color: white;
}
.info-wrapper .download-btn:hover{
    background-color: darkblue;
}

.page-wrapper .activity-section{
    width: 100%;
    display: flex;
    border: 1px solid #888;
    box-shadow: 2px 4px 6px #555;
    margin-bottom: 20px;
    transition: transform 0.2s;
}
.page-wrapper .activity-section:hover{
    transform: scale(1.02);
}
.page-wrapper .activity-section:nth-child(odd){
    flex-direction: row-reverse;
}
.page-wrapper .activity-section .activity-image-wrapper{
    width: 40%;
    margin: 20px;
    display: flex;
    justify-content: center;
}
.page-wrapper .activity-section .activity-section-image{
    width: 100%;
    min-height: 250px;
    border-radius: 10px;
}
.page-wrapper .activity-section .activity-content{
    width: 60%;
    margin: 20px;
}
.page-wrapper .activity-section .activity-content .activity-content-heading{
    text-align: center;
}
.page-wrapper .activity-section .activity-content-link{
    padding-top: 15px;
}
.page-wrapper .activity-section .activity-content-link a{
    color: #03035b;
    font-size: 17px;
}

.page-wrapper .info-links-wrapper{
    list-style: disclosure-closed;
}
.page-wrapper .info-links-wrapper .info-links{
    margin: 5px;
}
.page-wrapper .info-links-wrapper .info-links a{
    color: darkblue;
}

.hostel-notice-wrapper{
    display: flex;
    flex-wrap: wrap;
}
.hostel-notice-wrapper .card .card-header{
    background-color: rgb(0, 0, 139);
    color: white;
    font-size: 1.2rem;
}
.hostel-notice-wrapper .hostel-notice{
    width: 50%;
    margin: 0 auto;
}
.hec-link{
    margin: 0px auto 15px;
}
.hostel-large-view .hostel-boxes{
    padding: 10px;
    /* border: 1px solid black; */
}
.hostel-large-view .hostel-boxes .hostel-images{
    width: 90%;
    height: 200px;
    margin-left: 5%;
    border-radius: 5%;
    transition: transform 0.3s;
}
.hostel-large-view .hostel-boxes .hostel-images:hover{
    transform: scale(1.05);
}
.hostel-large-view .hostel-boxes h2{
    text-align: center;
}
.hostel-large-view .hostel-info{
    background-color: #f5f5f5;
    padding: 20px;
    box-shadow: 1px 1px 4px black;
    border-radius: 10px;
    margin-bottom: 10px;
}
table{
    table-layout: fixed;
    width: 100%;
}
.table th, td{
    text-align: center;
    vertical-align: middle !important;
    border: 1px solid black !important;
}
.hostel-large-view .hostel-info .warden-image{
    height: 150px;
}
.hostel-mobile-view{
    display: none;
}
.hostel-mobile-view .card{
    margin: 5px;
}
.hostel-mobile-view .card .card-header h2{
    text-align: center;
}
.hostel-mobile-view .card .card-img-top{
    border-radius: 10px;
    height: 150px;
}
.hostel-mobile-view .list-group .list-group-item{
    background-color: #f9f9f9;
}
.hostel-mobile-view .warden-list{
    list-style: none;
    padding: 0;
}

.calender-wrapper{
    margin: 20px auto;
}
.scholarships-wrapper .list-group-item{
    background-color: #f5f5f5;
    border: 1px solid #cacaca;
}
.scholarships-wrapper .list-group-item:hover{
    background-color: #e5e5e5;
}
.scholarships-wrapper .scholarship-details{
    list-style: none;
}

.achievement-wrapper{
    display: flex;
    flex-wrap: wrap;
}
.achievement-wrapper .achieve{
    margin: 0px;
    padding: 10px;
}
.achievement-wrapper .achieve-bg{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    min-height: 300px;
    width: 100%;
}
.achieve .achieve-content {
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    margin: 0;
    padding: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.achieve .achieve-content h3{
    text-align: center;
}


@media (max-width: 767.98px){
    #header-logo-image{
        float: left;
    }
    .ccard{
        width: 45%;
    }
    .hostel-mobile-view{
        display: block;
    }
    .hostel-mobile-view .card .card-img-top{
        width: 90%;
        margin-left: 5%;
    }
    .hostel-large-view{
        display: none !important;
    }
    .page-wrapper .activity-section{
        flex-wrap: wrap;
    }
    .page-wrapper .activity-section .activity-image-wrapper{
        width: 100%;
    }
    .page-wrapper .activity-section .activity-section-image{
        width: 90%;
        margin-left: 5%;
    }
    .page-wrapper .activity-section .activity-content{
        width: 100%;
        margin-bottom: 20px;
    }
    .notice-wrapper .news{
        width: 48%;
        margin: 0 1%;
    }
    .notice-wrapper .notice{
        width: 48%;
        margin: 0 1%;
    }
    .hostel-notice-wrapper .hostel-notice{
        width: 100%;
    }
    
}

@media (max-width: 575.98px) {
    .ccard{
        width: 90%;
    }
    .card-img-top{
        width: 75%;
    }
    .notice-wrapper .news{
        width: 100%;
    }
    .notice-wrapper .notice{
        width: 100%;
    }
    
}
